body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  width: 100%;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("img/bg1.jpeg");
  min-height: 430px;
}

.bgimg-2 {
  background-image: url("img/bg2.jpeg");
  min-height: 370px;
}

.bgimg-3 {
  background-image: url("img/bg3.jpeg");
  min-height: 370px;
}

.bgimg-4 {
  background-image: url("img/bg4.jpeg");
  min-height: 370px;
}

.bgimg-5 {
  background-image: url("img/bg5.jpeg");
  min-height: 370px;
}

.bgimg-6 {
  background-image: url("img/bg6.jpeg");
  min-height: 370px;
}

.caption {
  position: absolute;
  left: 3%;
  top: 50%;
  width: 100%;
}

.caption h1 {
    color: white;
}
.caption h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: white;
}

.about {
    color: #777;
    padding:50px 80px;
    text-align: justify;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 250px;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg,
	                           transparent 33%, rgba(0, 0, 0, .1) 33%,
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top,
	                           rgba(255, 255, 255, .25),
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6 {
        background-attachment: scroll;
    }
}
